# Terraform working directory
**/.terraform/*


# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration
.terraformrc
terraform.rc

# Node dependencies
node_modules/

# Environment files
.env

.terraform.lock.hcl
provider/*